.places{
    text-align: center;
}
.places h1{
    font-size: 30px;
    text-align: left;
}
article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    height: 250px;
}
article h2{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    position: absolute;
}
.title{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
.price_by_night{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    margin-left: auto;
    margin-top: -10px;
}
.information{
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-evenly;
}
.information p{
    line-height: 100px;
}
.max_guest{
    background-image: url(../images/people.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;    
}
.number_rooms{
    background-image: url(../images/bed.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
}
.number_bathrooms{
    background-image: url(../images/bath.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
}
.user{
    text-align: left;
}
.user p{
    margin: 15px 0px 5px;
}
.description{
    text-align: left;
}

